<% flash.each do |name, msg| %>
<div data-closable class="alert-box callout <%= flash[:notice] ? notice : alert %>radius">
  <i class="fa fa-<%= flash[:notice] ? "check" : "ban" %>"></i> <%= msg %>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&CircleTimes;</span>
  </button>
</div>
<% end %>