    <div class="carousel carousel-slider" data-indicators="true">
        
        <div class="carousel-item white black-text center" href="#one!">
            <%= image_tag  "typewriter.jpg" %>
        </div>
        
        <div class="carousel-item white black-text center" href="#two!">
            <h2>Second Panel</h2>
            <p class="black-text">This is your second panel</p>
        </div>
    </div>