<nav>
  <div class="nav-wrapper"> 
    <%= link_to image_tag('logo.png'), home_path, class: 'brand-logo' %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile", class='right hide-on-small-only valign'>
      <%= render :partial => 'partials/nav/base_nav' %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <%= render :partial => 'partials/nav/base_nav' %>        
    </ul>
  </div>
</nav>