<p id="notice"><%= notice %></p>

<div class="container">
    <div class="section">
        <div class="card large">
            <%= render  "profile_info" %>
            <%= render  "info_tabs" %>
        </div>
    </div>
</div>
</div>