<div class="section">
    <div class="row" style="margin-bottom: 0px;" >
        <div class="col m4 s5">
            <h4>All Stories</h4>
        </div>
        <div class="search col m8 s7">
            <input type="text" class="queue-search input-field" placeholder="Search" width="300px"/>
        </div>   
    </div> 
    
    <div class="divider"></div>
    
    <div class="row queue-search">
        
        <% @all_projects.each do |p| %>
        <div class="col s4">
            <div class="card search-card">
                <div class="card-image">
                    <%= image_tag  "reading.jpg" %>
                    <span class="card-title"><%= p.title %></span>
                    <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">bookmark_border</i></a>
                </div>
                <div class="card-content">
                    <p><%= p.category %></p>
                    <p><%= p.genre %></p>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>