<div class="row">
  <div class="small-7 columns">
    <h2><em>About Writer.pub</em></h2>

    <p>
    	things about us
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>