<h1><em>Writer.pub</em></h1>

<!--<div> <%= image_tag 'pieces_banner.png' %> </div> <br/>-->
<p style="text-align: justify;">
    Welcome to Writer.pub
</p>

<table cellpadding="3" style="margin: 0 auto; border: 0px;">
	<tr>
		<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
		<td>Juliann Fields</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td>
		<%= mail_to("jbfields@andrew.cmu.edu", "America Chavez*", encode: "javascript") %> 
		</td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td>877-393-4448</td>
	</tr>
</table>

<p class="note" style="text-align: center;">
	<br>*Despite a phiscal resemblance, I am not America Chavez. As much as I would like to be, I am not. That is all.
</p>
