<%# @last_project = Project.find(Project.last.id+1) %>
<%= simple_form_for @last_project, :html => {:class => 'form-horizontal', :id => "project_settings_form", } do |f| %>
    <div class="row">
        <div class="input-field col s12">
            <%= f.select :preview_level, collection: Project::PREVIEW_LEVEL %>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <%= f.select :status, collection: Project::STATUS %>
        </div>
    </div>

    <div class="form-actions row">
        <div class="waves-effect waves-light btn right">  
            <%= f.submit %>
        </div>

        <div class="waves-effect waves-light btn left">
            <a onclick="$(document).ready(function(){$('ul.tabs').tabs('select_tab', 'Members');});">
                BACK
            </a>
        </div>
    </div>
<% end %>
