<!-- options for items -->
<li>
    <%= link_to(about_path) do %>
    <h5>CATEGORIES</h5>
    <% end %>
</li>

<!-- options for Contact -->
<li>
    <%= link_to(about_path) do %>
    <h5>READ</h5>
    <% end %>
</li>

