<li>
  <%= link_to(new_project_path) do %>
    <h5>WRITE</h5>
  <% end %>
</li>

<!-- library -->
<li>
    <% if logged_in? %>
      <%= link_to(about_path) do %>
        <h5>BOOKSHELF</h5>
      <% end %>
    <% end %>
  </li>

<!-- login/accont options -->
<li>
  <% if logged_in? %>
    <%= link_to(logout_path) do %>
      <h5>LOGOUT</h5>
    <% end %>
  <% else %>
    <%= link_to(login_path) do %>
      <h5>LOGIN</h5>
    <% end %>
  <% end %>
</li>
